<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="text-align: center;">
      <p style="margin: 17px 0 0;">
        The user offers to add a new car: <br>
        brand: {{brands_name}} <br>
        model: {{models_name}}  <br>
        {{name}}, if necessary, add the car to the list.
      </p>
    </td>
  </tr>
</table>