<table style="width: 100%; padding: 45px 35px; box-sizing: border-box">
  <tr>
    <td style="text-align: center;">
      <p style="margin: 17px 0 0;">
        Potentially incorrect/obscene ad text. Please check the text of the advertisement: <br> user_id: {{user_id}} <br> {{text_advertisement}} <br>
        {{name}}, please check the text of the ad. If the text is incorrect/obscene, delete the advertisement.
      </p>
    </td>
  </tr>
</table>